body { 
	background-image: url("img/kamer.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: black;
}
#title {
	text-align: center;
	color: white;
}
#description {
	text-align: center;
	color: white;
}	
#start{
	text-align: center;
 	margin-left: 730px;
 	font-size: 16px;
 	background-color: black;
 	border-style: none;
 	color: white;
 	margin-top: 20px;
}

